/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-image: url(main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 10px;
    padding: 0;
    height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Navigation Bar */
nav {
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #eaeaea;
}

/* Dropdown Menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Header */
header {
    text-align: center;
    margin: 60px 0;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

header p {
    font-size: 18px;
    color: #b8b8b8;
    margin-bottom: 40px;
}

/* Sections */
.section-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
  
  .section-container section {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-size: cover;
    background-position: center;
  }

section {
    position: relative;
    padding: 80px;
    text-align: center;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
    border-radius: 10px;
    margin: 0 20px 40px;
    opacity: .9;
    overflow: hidden;
}

section:hover {
    transform: translateY(-10px);
}

section h2 {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

section p {
    font-size: 18px;
    color: #fff;
}

/* Background Images */
#treasures {
    background-image: url(background-one.jpg);
}

#power-of-science {
    background-image: url(background-three.jpg);
}

#medical-insights {
    background-image: url(background-two.jpg);
}

#kaleidoscope {
    background-image: url(background-four.jpg);
}

#journey {
    background-image: url(background-five.jpg);
}

#connect {
    background-image: url(background-six.jpg);
}

#open-gates {
    background-image: url(background-seven.jpg);
}



#contact {
    background-color: #757575d7;
    padding: 80px 0;
    text-align: center;
}

#contact:hover {
    transform: none;
}

#contact h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

#contact p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #555;
}

#contact-form {
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 120px;
}

button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #555;
}
